[gerrit]
        basePath = git
        canonicalWebUrl = <%= canonical_web_url %>
[database]
        type = H2
        database = db/ReviewDB
[auth]
        type = HTTP
	emailFormat = <%= email_format %>
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-6-openjdk/jre
[sshd]
        listenAddress = <%= sshd_listen_address %>
[httpd]
        listenUrl = <%= httpd_listen_url %>
[cache]
        directory = cache